# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should use LF
*.sh text eol=lf

# Windows scripts should use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Python files
*.py text eol=lf
*.pyi text eol=lf

# Java files
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Markdown files
*.md text eol=lf

# Config files
*.json text eol=lf
*.toml text eol=lf
*.lock text eol=lf

# Binary files
*.jar binary
*.class binary
*.pyd binary
*.so binary
*.dll binary
